.hidden{
    display: none; 
    position: absolute;
    top: 10px;
    left: 15px;
}
.myCard{
    background-position: center;
    width : 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}
.card.relative:hover .myCard{
    opacity: 0.2;
}

.card.relative:hover .hidden{
    display: inline-block;
    color: black;
}

.relative{
    position: relative;
}

.nav_link{
    text-decoration: none;
    font-size: 15px;
    color: gray;
}
.active{
    color: crimson;
}